/* This file is where css selectors for the component go.
   There will be hard coded properties and properties controlled by variables, for example

   demo-radio .demo-radio-value-text {
   color: var(--demo-radio-value-text-color);
   display: inline-block;
	 }
*/

demo-radio:not(.oj-complete){
  visibility: hidden;
}

demo-radio{
	min-height: 50px;
	width: 50px;
}